@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5% 10%;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
}

.right-nav {
  display: flex;
  gap: 30px;
}

.right-nav > li > a {
  color: hsl(236, 13%, 42%);
}

/* mid-section */

.main-mid {
  display: flex;
  gap: 3%;
  width: 100%;
}

.left-mid {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 95%;
}

.left-mid > img {
  width: 100%;
}

.left-mid-bottom {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.left-mid-bottom > h2 {
  color: hsl(240, 100%, 5%);
  font-size: 46px;
}

.left-mid-bottom > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10%;
}

.left-mid-bottom > div > p {
  color: hsl(236, 13%, 42%);
}

.left-mid-bottom > div > div > button {
  background: hsl(5, 85%, 63%);
  border: none;
  padding: 3% 8%;
  color: hsl(36, 100%, 99%);
  font-weight: 600;
  font-size: 15px;
}

.right-mid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: hsl(240, 100%, 5%);;
  color: hsl(36, 100%, 99%);
  padding: 20px 15px;
}

.right-mid > h2 {
  color: hsl(35, 77%, 62%);
  font-size: 36px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
}

.card.two {
  border-top: 1px solid hsl(236, 13%, 42%);
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

.card > p {
  line-height: 25px;
  color: hsl(233, 8%, 79%);
}